graft src
recursive-include zlib-1.2.12 *.c *.h
recursive-exclude zlib-1.2.12 ChangeLog configure FAQ INDEX Makefile* make_vms.com README
prune zlib-1.2.12/amiga
prune zlib-1.2.12/as400
prune zlib-1.2.12/examples
prune zlib-1.2.12/msdos
prune zlib-1.2.12/old
prune zlib-1.2.12/projects
prune zlib-1.2.12/qnx
prune zlib-1.2.12/win32
